
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#carouselExampleControls{
  width: 60%;
  margin: auto;
  margin-top: -100px;
}
.card {
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-prev span,
.carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (min-width: 577px) {
  .cards-wrapper {
    display: flex;
  }
  .card {
    margin: 0 0.5em;
    width: calc(100% / 2);
  }
  .image-wrapper {
    height: 20vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .card:not(:first-child) {
    display: none;
  }
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.buy-now-btn{
  background: #7a12d4;
  color: white;
  border-radius: 35px;
  width: 100px;
  height: 40px;
  border: none;
}


.home-hero-divided{
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  background-color: purple;
  padding: 5px 20px;
}
.home-hero-divided h1{
  color: white;
}

.first-slide-center{
  display: flex;
  width: 500%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.first-slide-prev-btn , .first-slide-next-btn{
  width: 50px;
  background: rgb(235, 232, 232);
  height: 50px;
  border:none;
  font-size: 20px;
  border-radius: 50%;
}


@media only screen and (100px<=width<=500px) {
  .first-slide-center{
    display: flex;
    width: 100%;
  }
  .prev-slide{
    display: none;
  }
  .next-slide{
    display: none;
  }
}

@media only screen and (501px<=width<=1000px) {
  .first-slide-center{
    display: flex;
    width: 100%;
    margin: auto;
  }
  .prev-slide{
    display: none;
  }
  .next-slide{
    display: none;
  }
}



.home-join-btn{
 width:200px;
 height: 35px;
 border-radius: 10px;
background-color: white;
 border: none;
 color: purple;
 padding: 5px 10px;
}

.featured-images{
  width: 200px;
  height: 30px;
  filter: invert(1) grayscale(1) brightness(1200);
}

/* footer styles css */

.custom-footer-container{
  width: 100%;
  background:#8019da;
}

.custom-footer{
	  padding: 60px 0;
    width: 100%;
    background:#8019da;
    color: white;
   
}
.custom-footer-title{
	position: relative;
    color: white;
	  font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}
.custom-footer-title:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 30px;
	height: 4px;
	background: #ff304d;
}
.custom-footer-links a{
	padding: 10px 0;
	/* border-bottom: 1px solid #404040; */
	color: white;
	display: block;
	transition: color 0.5s ease-in-out;
   text-decoration:none;
}
.custom-footer-links a:hover{
	color: #ff304d;
}
.custom-footer-social-links li{
	display: inline-block;
}
.custom-footer-social-links a{
	width: 40px;
	height: 40px;
	font-size: 20px;
	float: left;
	margin-right: 10px;
	padding: 10px;
	/* border: 1px solid #404040; */
	border-radius: 50px;
	text-align: center;
	color: white;
	line-height: 1;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}
.custom-footer-social-links a:hover{
	background: white;
  color: blue;
}
/* g. Footer bottom section */
.custom-footer-bottom{
	display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 10px;
  width: 70%;
  margin: auto;
}
.custom-footer-bottom div{
  display: flex;
}
.footer-contact-btn{
  background-color: black;
  color: white;
  border-radius: 35px;
  padding: 6.5px 20px;
  border: none;
  margin-top: 25px;
}

.footer-join-btn{
  background-color: black;
  color: white;
  margin-left: 10px;
  border-radius: 35px;
  padding: 6.5px 20px;
  border: none;
  margin-top: 25px;
}

.blog_page_header_bg{
  background: url("https://silvamethod.com/store/wp-content/uploads/2022/10/topheading-shop-1.jpg");
    background-repeat: no-repeat;
}
