
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
#carouselExampleControls{
  width: 60%;
  margin: auto;
  margin-top: -100px;
}
.card {
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-prev span,
.carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}
@media screen and (min-width: 577px) {
  .cards-wrapper {
    display: flex;
  }
  .card {
    margin: 0 0.5em;
    width: calc(100% / 2);
  }
  .image-wrapper {
    height: 20vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .card:not(:first-child) {
    display: none;
  }
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.buy-now-btn{
  background: #ff0062;
  border-radius: 35px;
  width: 100px;
  height: 40px;
  border: none;
}


.home-hero-divided{
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  background-color: purple;
  padding: 5px 20px;
}
.home-hero-divided h1{
  color: white;
}

.first-slide-center{
  display: flex;
  width: 500%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.first-slide-prev-btn , .first-slide-next-btn{
  width: 50px;
  background: rgb(235, 232, 232);
  height: 50px;
  border:none;
  font-size: 20px;
  border-radius: 50%;
}


@media only screen and (100px<=width<=500px) {
  .first-slide-center{
    display: flex;
    width: 100%;
  }
  .prev-slide{
    display: none;
  }
  .next-slide{
    display: none;
  }
}

@media only screen and (501px<=width<=1000px) {
  .first-slide-center{
    display: flex;
    width: 100%;
    margin: auto;
  }
  .prev-slide{
    display: none;
  }
  .next-slide{
    display: none;
  }
}



.home-join-btn{
 width:200px;
 height: 35px;
 border-radius: 10px;
background-color: white;
 border: none;
 color: purple;
 padding: 5px 10px;
}

.featured-images{
  width: 200px;
  height: 30px;
  filter: invert(1) grayscale(1) brightness(1200);
}

.footer-contact-btn{
  background: #ff0062;
  border-radius: 35px;
  padding: 6.5px 20px;
  border: none;
  margin-top: 25px;
}

.footer-join-btn{
  background-color: #2da397;
  margin-left: 10px;
  border-radius: 35px;
  padding: 6.5px 20px;
  border: none;
  margin-top: 25px;
}

