@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Ubuntu:wght@300;400&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#carouselExampleControls {
  width: 60%;
  margin: auto;
  margin-top: -100px;
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.carousel-inner {
  padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev span,
.carousel-control-next span {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (min-width: 577px) {
  .cards-wrapper {
    display: flex;
  }

  .card {
    margin: 0 0.5em;
    width: calc(100% / 2);
  }

  .image-wrapper {
    height: 20vw;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .card:not(:first-child) {
    display: none;
  }
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.buy-now-btn {
  background: #ff0062;
  border-radius: 40px;
  background: #7a12d4;
  color: white;
  border-radius: 35px;
  width: 100px;
  height: 40px;
  border: none;
}

.buy-now-link {
  background: #7a12d4;
  color: white;
  border-radius: 35px;
  padding: 12px 25px;
  border: none;
}

.home-hero-divided {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  background-color: purple;
  padding: 5px 20px;
}

.home-hero-divided h1 {
  color: white;
}

.first-slide-center {
  display: flex;
  width: 500%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.first-slide-prev-btn,
.first-slide-next-btn {
  width: 50px;
  background: #8019da;
  color: white;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 50%;
}

@media only screen and (100px<=width<=500px) {
  .first-slide-center {
    display: flex;
    width: 100%;
  }

  .prev-slide {
    display: none;
  }

  .next-slide {
    display: none;
  }
}

@media only screen and (501px<=width<=1000px) {
  .first-slide-center {
    display: flex;
    width: 100%;
    margin: auto;
  }

  .prev-slide {
    display: none;
  }

  .next-slide {
    display: none;
  }
}

.home-join-btn {
  width: 200px;
  height: 35px;
  border-radius: 10px;
  background-color: white;
  border: none;
  color: purple;
  padding: 5px 10px;
}

.featured-images {
  width: 170px;
  height: 30px;

  /* filter: invert(1) grayscale(1) brightness(1200); */
}

/* footer styles css */

.custom-footer-container {
  width: 100%;
  background: #8019da;
}

.custom-footer {
  padding: 60px 0;
  width: 100%;
  background: #8019da;
  color: white;
}

.custom-footer-title {
  position: relative;
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

.custom-footer-title:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 30px;
  height: 4px;
  background: #ff304d;
}

.custom-footer-links a {
  padding: 10px 0;
  /* border-bottom: 1px solid #404040; */
  color: white;
  display: block;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
}

.custom-footer-links a:hover {
  color: #ff304d;
}

.custom-footer-social-links li {
  display: inline-block;
}

.custom-footer-social-links>li>a>svg {
  width: 40px;
  height: 40px;
  font-size: 20px;
  float: left;
  margin-right: 10px;
  padding: 10px;
  /* border: 1px solid #404040; */
  border-radius: 50px;
  text-align: center;
  color: white ;
  line-height: 1;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.custom-footer-social-links>li>a>svg:hover {
  background: white;
  color: blue;
}

/* g. Footer bottom section */
.custom-footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 10px;
  width: 70%;
  margin: auto;
}

.custom-footer-bottom div {
  display: flex;
}

.footer-contact-btn {
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

svg:hover {
  cursor: pointer;
}

.our-team {
  padding: 30px 20px 40px 20px;
  /* padding: 30px 100px 40px 100px; */
  width: 100%;
  margin-bottom: 30px;
  background-color: whitesmoke;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 200%;
  height: 0;
  /* border-radius: 50%; */
  background-color: #9b37f2;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #9b37f2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #9b37f2;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #9b37f2;
  background-color: #f7f5ec;
}

.cardspan:hover {
  cursor: pointer;
}

/* .listcourse li{
  margin-bottom: 5px;
} */

.storeproducts p,
li {
  font-size: 1.1rem !important;
  line-height: 30px !important;
}

.modal-new::-webkit-scrollbar {
  display: none;
  border-radius: 35px;
  padding: 6.5px 20px;
  border: none;
  margin-top: 25px;
}

.footer-contact-btn {
  background-color: black;
  color: white;
  border-radius: 35px;
  padding: 6.5px 20px;
  border: none;
  margin-top: 25px;
}

.footer-join-btn {
  background-color: white;
  color: black;
  margin-left: 10px;
  border-radius: 35px;
  padding: 6.5px 20px;
  border: none;
  margin-top: 25px;
}

/* footer style ended */

.blog_page_header_bg {
  background: url("https://silvamethod.com/store/wp-content/uploads/2022/10/topheading-shop-1.jpg");
  background-repeat: no-repeat;
}

.ovrlay-card {
  position: relative;
  transition: all 0.5s ease-in;
}

.overlay-card-image {
  display: block;
  width: 100%;
  /* height: 400px; */
  padding: 15px;
}

.overlay-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background-image: linear-gradient(#3420e7, #da01fd);
  padding: 15px;
}

.ovrlay-card:hover .overlay-section {
  opacity: 1;
}

.overlay-text {
  color: white;
  /* font-size: 10px; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text p {
  background-color: black;
  padding: 0.5rem 1rem;
  /* margin-top: 2rem; */
  display: inline-block;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.newsletter-container {
  background-image: url("../public/img/bg/newsletter-5.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-container input::placeholder {
  color: black;
  padding: 25px;
  /* font-weight: bold; */
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #1d073085 !important;
  color: #e1e1e1;
}

.nav-link {
  color: #e1e1e1 !important;
  font-size: 1.3rem;
}

.nav-link:hover {
  cursor: pointer;
}

.mainlandingpage {
  background: #c33764;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1d2671, #c33764);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1d2671, #c33764);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: gradient 15s ease infinite;
}

.stickynav {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 9999 !important;
}

.tabsmainview h5:hover {
  cursor: pointer;
}

.activenavtab {
  border-bottom: 5px solid #9b37f2;
  margin-bottom: -1px;
}

.accordion-button {
  background-color: #1e272e !important;
  color: white !important;
  border: none !important;
}

.accordion-body {
  padding: 1rem 1.25rem !important;
  background-color: #485460 !important;
  color: white !important;
}

.accordion-item {
  border: none !important;
}

.badgenew:hover {
  cursor: pointer !important;
}

.mainstoriescard h5:hover {
  cursor: pointer;
}

/* .neon h3 {
  animation: neon 1s ease infinite;
} */
/* @keyframes neon {
  0%,
  100% {
      text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
      color: #f5efcb;
  }
  50% {
      text-shadow: 0 0 2px #800b72, 0 0 5px #710861, 0 0 5px #740b80, 0 0 5px #780b80, 0 0 2px #7c0b80, 4px 4px 2px #2e2606;
      color: #c43b96;
  }
} */
.neonText {
  --neon: hsl(355 100% 95%);
  --neon-glow: hsl(313, 85%, 49%);
}

.neonText {
  color: var(--neon);
  text-shadow: 0 0 20px var(--neon-glow), 0 0 2.5vmin var(--neon-glow),
    0 0 5vmin var(--neon-glow), 0 0 10vmin var(--neon-glow),
    0 0 15vmin var(--neon-glow);
}

.maincard222 {
  background-image: url("/src/images/newimgs/background-Image.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
  background-position: right 0 top 0;
}

/*  */
.magic {
  background: #a770ef;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fdb99b, #cf8bf3, #a770ef);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fdb99b, #cf8bf3, #a770ef);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*  */

.cross {
  position: relative;
  display: inline-block;
}

.cross::before,
.cross::after {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}

.cross::before {
  border-bottom: 2px solid red;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
}

.cross::after {
  border-bottom: 2px solid red;
  -webkit-transform: skewY(10deg);
  transform: skewY(10deg);
}

/*  */

.row > * {
  padding-right: 0px !important;
  /* padding-left: 0px !important; */
}

/* product overlay card style */

.product-overlay-card {
  position: relative;
  transition: all 0.5s ease-in;
}

.product-card__image {
  display: block;
  width: 100%;
  height: auto;
}

.product-card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background-color: #2b2a2b;
}

.product-overlay-card:hover .product-card__overlay {
  opacity: 0.5;
}

.product-overlay__text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.product-overlay-button {
  /* background-color: #f05328; */
  padding: 1.5rem;
  margin-top: 2rem;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.instruct-ban {
  background: #c33764;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1d2671, #c33764);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1d2671, #c33764);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: gradient 15s ease infinite;
}

svg {
  color: black;
  font-size: 1.5rem;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #29008a;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.slick-prev {
  left: 15% !important;
  z-index: 1;
  width: 46px !important;
  height: 46px !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 50%;
  padding: 10px !important;
}

.slick-next {
  right: 15% !important;
  z-index: 1;
  width: 46px !important;
  height: 46px !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 50%;
  padding: 10px !important;
}

/* blog page products card style */
.blogproduct-column {
  /*     margin-top: 10rem;    */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogproductcontainer-card {
  /* height: auto; */
  /* width: 40rem; */
  margin-left: auto;
  margin-right: auto;
}

.blogproductcard {
  position: relative;
  /* height: 25rem; */
  /*center vertically and horizontally the overlay*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogproductcard__overlay {
  position: absolute;
  left: 5%;
  background-color: #ede4f1;
  width: 0;
  height: 98%;
  transition: 0.5s ease;
  /*center vertically the card__overlay-content*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
}

.blogproductcard:hover .blogproductcard__overlay {
  opacity: 0.9;
  width: 90%;
}

.blogproductcard__overlay-content {
  display: none;
}

.blogproductcard:hover .blogproductcard__overlay-content {
  display: inline-block;
}

.blogproductcard__overlay-line {
  width: 90%;
  height: 2px;
  background: white;
  margin-left: auto;
  margin-right: auto;
}

.blogproductcard__overlay-title{
  padding: 5px;
  background-color: #7a12d4;
  color: white;
}

.blog-products-viewmore-btn {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
}
.blog-products-viewmore-btn span{
  display: block;
  padding: 5px 80px;
}
.blog-products-viewmore-btn::before, .blog-products-viewmore-btn::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.4s linear;
  background: #7a12d4;
}

.blog-products-viewmore-btn span::before, .blog-products-viewmore-btn span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.4s linear;
  background: #7a12d4;
}
.blog-products-viewmore-btn:hover::before, .blog-products-viewmore-btn:hover::after{
  width: 100%;
}
.blog-products-viewmore-btn:hover .blog-products-viewmore-btn span::before, .blog-products-viewmore-btn:hover .blog-products-viewmore-btn span::after{
  height: 100%;
}

.blog-products-viewmore-btn::before, .blog-products-viewmore-btn::after{
  transition-delay: 0.2s;
}
.blog-products-viewmore-btn span::before, .blog-products-viewmore-btn span::after{
  transition-delay: 0s;
}
.blog-products-viewmore-btn::before{
  right: 0;
  top: 0;
}
.blog-products-viewmore-btn::after{
  left: 0;
  bottom: 0;
}
.blog-products-viewmore-btn span::before{
  left: 0;
  top: 0;
}
.blog-products-viewmore-btn span::after{
  right: 0;
  bottom: 0;
}
.blog-products-viewmore-btn:hover::before, .blog-products-viewmore-btn:hover::after{
  transition-delay: 0s;
}
.blog-products-viewmore-btn:hover span::before, .blog-products-viewmore-btn:hover span::after{
  transition-delay: 0.2s;
}

.not-slide-icon .slick-prev{
  display: none !important;
}

.not-slide-icon .slick-next{
  display: none !important;

}

.blog-slider .slick-prev{
  display: none !important;
}
.blog-slider .slick-next{
  display: none !important;
}

.latest-courses-slide .slick-prev{
  display: none !important;
}
.latest-courses-slide .slick-next{
  display: none !important;
}

.memberslider .slick-prev{
  display: none !important;
}
.memberslider .slick-next{
  display: none !important;
}

.reviewslider .slick-prev{
  display: none !important;
}
.reviewslider .slick-next{
  display: none !important;
}
.sponsorslider .slick-prev{
  display: none !important;
}
.sponsorslider .slick-next{
  display: none !important;
}

.maintrainer .slick-prev{
  display: none !important;
}
.maintrainer .slick-next{
  display: none !important;
}

.orderslider .slick-prev{
  display: none !important;
}

.orderslider .slick-next{
  right: -2% !important;
  z-index: 1;
  width: 25px !important;
  height: 25px !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 50%;
  padding: 5px !important;
}



/* course card styles */

.course-card img {
  height: 250px;
  width: 100%;
}
.course-item-card {
  transition: 0.5s;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.course-item-card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.course-card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.course-card::before,
.course-card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.course-card::before {
  transform-origin: left top;
}
.course-card::after {
  transform-origin: right bottom;
}
.course-card:hover::before,
.course-card:hover::after,
.course-card:focus::before,
.course-card:focus::after {
  transform: scale3d(1, 1, 1);
}


